<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino10_v6_robot">
  <xacro:property name="use_gripper" value="true"/>
  
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <!-- fake, gazebo, real -->
  <xacro:arg name="hardware_type" default="fake" />
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

  <!-- Camera URDF -->
  <xacro:include filename="$(find depth_camera_description)/urdf/depth_camera.urdf" />

  <!-- Robot base URDF -->
  <xacro:include filename="$(find fairino_description)/urdf/fairino10_v6.urdf" />

  <xacro:include filename="fairino10_v6_robot_fake.ros2_control.xacro" />
  <xacro:fairino10_v6_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)" hardware_type="$(arg hardware_type)"/>


  <xacro:include filename="fairino10_v6_robot_gazebo.ros2_control.xacro" />
  <xacro:fairino10_v6_robot_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)" hardware_type="$(arg hardware_type)"/>

  <xacro:include filename="fairino10_v6_robot_real.ros2_control.xacro" />
  <xacro:fairino10_v6_robot_ros2_control name="RealSystem" initial_positions_file="$(arg initial_positions_file)" hardware_type="$(arg hardware_type)"/>


  <xacro:if value="${use_gripper}">
    <link name="tip_link"/>
    <joint name="tip_joint" type="fixed">
      <origin rpy="0 0 0.2" xyz="0 0 0"/>
      <parent link="wrist3_link"/>
      <child link="tip_link"/>
    </joint>
    <xacro:include filename="$(find fairino_description)/urdf/gripper.urdf" />

    <!-- <xacro:include filename="gripper.ros2_control.xacro" />
    <xacro:gripper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)" hardware_type="$(arg hardware_type)"/>

    <xacro:include filename="gripper.ros2_control.xacro" />
    <xacro:gripper_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)" hardware_type="$(arg hardware_type)"/>

    <xacro:include filename="gripper.ros2_control.xacro" />
    <xacro:gripper_ros2_control name="RealSystem" initial_positions_file="$(arg initial_positions_file)" hardware_type="$(arg hardware_type)"/> -->

  </xacro:if>

  
  <xacro:unless value="${use_gripper}">
    <link name="tip_link"/>
    <joint name="tip_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.2"/>
      <parent link="wrist3_link"/>
      <child link="tip_link"/>
    </joint>
  </xacro:unless>


</robot>
